
<h2 style="text-align: center">
  Grafica de Followers
</h2>

<div style="text-align: center; margin-bottom: 30px;">
  <input id="input" type="text" #input minlength="4">
  <button mat-button mat-raised-button color="primary"
    (click)="graficaFollowers(input.value)" style="margin-left: 10px">Graficar</button>
</div>
<hr>

<!-- SI HAY DATOS NO MOSTRAR -->

<div style="margin-bottom: 30px;">
  <ul *ngFor="let user of userList.items; let i=index">
    <li *ngIf="i<10">
      Username:
      <a [routerLink]="['/perfil', user.login]">
        {{user.login}} , User id: {{user.id}}
      </a>
    </li>
  </ul>
</div>

<div>
  <div>
    <div style="display: block">
      <canvas baseChart
        [data]="barChartData"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [type]="barChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)">
      </canvas>
    </div>
  </div>
</div>
