<div style="text-align: center">

  <h2>
    Grafica de Followers
  </h2>

  <input id="input" type="text" #inputBusqueda (keyup)="0" minlength="4"
    maxlength="20"
    placeholder="Buscar Usuario" style="margin-bottom: 10px;">

  <div *ngIf="inputBusqueda.value != 'gcpglobal'" (keyup)="0">
    <p>
      <span *ngIf="inputBusqueda.value.length <4">
        El texto debe tener al menos 4 caracteres
      </span>
      <span *ngIf="inputBusqueda.value.length> 20">
        El texto debe tener menos de 20 caracteres
      </span>
    </p>

    <button mat-button mat-raised-button color="primary"
      id="btn" [disabled]="inputBusqueda.value.length <4"
      (click)="graficaFollowers(inputBusqueda.value)">Buscar</button>
  </div>

  <p>
    <span *ngIf="inputBusqueda.value == 'gcpglobal'">
      No puedes Consultar este Usuario
    </span>
  </p>
</div>
<hr>

<div style="margin-bottom: 30px;">
  <ul *ngFor="let user of userList.items; let i=index">
    <li *ngIf="i<10">
      Username:
      <a [routerLink]="['/perfil', user.login, user.score]">
        {{user.login}} , User id: {{user.id}}
      </a>
    </li>
  </ul>
</div>

<div>
  <div>
    <div style="display: block">
      <canvas baseChart
        [data]="barChartData"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [type]="barChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)">
      </canvas>
    </div>
  </div>
</div>
